GtkWindow#RCMainWindow.background
{
    background-color: #282828;
    background-image: -gtk-gradient (linear,
        left top, right bottom,
        from (#282828), to (#282828));
}

GtkWindow#RCMiniWindow,
GtkWindow#RCMainWindow GtkEventBox,
GtkWindow#RCMiniWindow GtkEventBox
{
    background-color: #282828;
    background-image: -gtk-gradient (linear,
        left top, right bottom,
        from (#282828), to (#282828));
}

GtkWindow#RCMainWindow GtkNotebook#RCPlistNotebook
{
    color: #F0F0F0;
    background-color: #282828;
    background-image: -gtk-gradient (linear,
        left top, right bottom,
        from (#282828), to (#282828));
}

GtkWindow#RCMainWindow GtkNotebook#RCPlistNotebook:active
{
    color: #F0F0F0;
    background-color: #505050;
    background-image: -gtk-gradient (linear,
        left top, right bottom,
        from (#505050), to (#505050));
}

GtkWindow#RCMainWindow GtkLabel#RCTitleLabel,
GtkWindow#RCMainWindow GtkLabel#RCArtistLabel,
GtkWindow#RCMainWindow GtkLabel#RCAlbumLabel,
GtkWindow#RCMainWindow GtkLabel#RCInfoLabel,
GtkWindow#RCMainWindow GtkLabel#RCLengthLabel,
GtkWindow#RCMainWindow GtkLabel#RCLyricLabel,
GtkWindow#RCMainWindow GtkLabel#RCEQLabel,
GtkWindow#RCMiniWindow GtkLabel
{
    color: #F0F0F0;
}

GtkWindow#RCMainWindow RCGuiScrolledText#RCLyricLabel,
GtkWidget#RCMiniWindow RCGuiScrolledText#RCMiniLyricLabel,
GtkWidget#RCMiniWindow RCGuiScrolledText#RCMiniInfoLabel
{
    color: #F0F0F0;
    background-color: #282828;
}


GtkLabel#RCTimeLabel
{
    color: #6CD02F;
}

GtkWindow#RCMiniWindow GtkArrow
{
    background-color: #282828;
    color: #F0F0F0;
}

GtkTreeView#RCListView1,
GtkTreeView#RCListView2
{
    background-color: #282828;
    color: #F0F0F0;
}

GtkTreeView#RCListView1 row,
GtkTreeView#RCListView1 row:insensitive,
GtkTreeView#RCListView2 row,
GtkTreeView#RCListView2 row:insensitive
{
    background-color: #282828;
    color: #F0F0F0;
}

GtkTreeView#RCListView1 row:selected,
GtkTreeView#RCListView1 row:selected:focused,
GtkTreeView#RCListView2 row:selected,
GtkTreeView#RCListView2 row:selected:focused
{
    background-color: #A0A0A0;
    background-image: -gtk-gradient (linear,
        left top, left bottom,
        color-stop(0, #C0C0C0),
        color-stop(0.5, #A0A0A0),
        color-stop(1, #C0C0C0));
    color: #F0F0F0;
}

GtkButton#RCControlButton,
GtkButton#RCMiniControlButton,
GtkButton#RCMiniWindowButton,
GtkVolumeButton#RCVolumeButton
{
    background-color: #282828;
    background-image: -gtk-gradient (linear,
        left top, right bottom,
        from (#282828), to (#282828));
}

GtkButton#RCControlButton:active,
GtkButton#RCMiniControlButton:active,
GtkButton#RCMiniWindowButton:active,
GtkVolumeButton#RCVolumeButton:active
{
    background-color: #505050;
    background-image: -gtk-gradient (linear,
        left top, right bottom,
        from (#505050), to (#505050));
}

GtkButton#RCControlButton:hover,
GtkButton#RCMiniControlButton:hover,
GtkButton#RCMiniWindowButton:hover,
GtkVolumeButton#RCVolumeButton:hover,
GtkButton#RCControlButton:prelight,
GtkButton#RCMiniControlButton:prelight,
GtkButton#RCMiniWindowButton:prelight,
GtkVolumeButton#RCVolumeButton:prelight
{
    background-color: #707070;
    background-image: -gtk-gradient (linear,
        left top, right bottom,
        from (#707070), to (#707070));
}

GtkButton#RCControlButton:insensitive,
GtkButton#RCMiniControlButton:insensitive,
GtkButton#RCMiniWindowButton:insensitive,
GtkVolumeButton#RCVolumeButton:insensitive
{
    background-color: #181818;
    background-image: -gtk-gradient (linear,
        left top, right bottom,
        from (#181818), to (#181818));
}

GtkWindow#RCMiniWindow GtkButton,
GtkComboBox#RCEQCombobox,
GtkComboBox#RCEQCombobox GtkButton,
GtkButton#RCEQSaveButton,
GtkButton#RCEQImportButton
{
    background-color: #404040;
    background-image: -gtk-gradient (linear,
        left top, right bottom,
        from (#404040), to (#404040));
    color: #F0F0F0
}

GtkWindow#RCMiniWindow GtkButton:active,
GtkComboBox#RCEQCombobox:active,
GtkButton#RCEQSaveButton:active,
GtkButton#RCEQImportButton:active
{
    background-color: #505050;
    background-image: -gtk-gradient (linear,
        left top, right bottom,
        from (#505050), to (#505050));
    color: #F0F0F0
}

GtkWindow#RCMiniWindow GtkButton:hover,
GtkComboBox#RCEQCombobox:hover,
GtkButton#RCEQSaveButton:hover,
GtkButton#RCEQImportButton:hover,
GtkWindow#RCMiniWindow GtkButton:prelight,
GtkComboBox#RCEQCombobox:prelight,
GtkButton#RCEQSaveButton:prelight,
GtkButton#RCEQImportButton:prelight
{
    background-color: #707070;
    background-image: -gtk-gradient (linear,
        left top, right bottom,
        from (#707070), to (#707070));
    color: #F0F0F0
}

GtkHScale#RCTimeScalerBar
{
    -GtkScale-slider-length: 16;
    -GtkRange-slider-width: 16;
    -GtkRange-trough-border: 0;
    -GtkScale-slider-border: 0;
    background-color: #707070;
}

GtkVScale#RCEQScaler
{
    -GtkScale-slider-length: 16;
    -GtkRange-slider-width: 15;
    -GtkRange-trough-border: 0;
    background-color: #707070;
}

GtkHScale#RCTimeScalerBar:hover,
GtkVScale#RCEQScaler:hover,
GtkHScale#RCTimeScalerBar:prelight,
GtkVScale#RCEQScaler:prelight
{
    background-color: #909090;
}

GtkHScale#RCTimeScalerBar:active,
GtkVScale#RCEQScaler:active,
GtkHScale#RCTimeScalerBar:selected,
GtkVScale#RCEQScaler:selected
{
    background-color: #33A8E5;
}

GtkHScale#RCTimeScalerBar:insensitive,
GtkVScale#RCEQScaler:insensitive
{
    background-color: #383838;
}

GtkHScale#RCTimeScalerBar.slider
{
    border-width: 0;
    border-radius: 10;
    border-color: #C6C6C6;
    background-image: -gtk-gradient (radial,
        center center, 0, center center, 1,
        from (#C6C6C6), to (#A6A6A6));
}

GtkHScale#RCTimeScalerBar.slider:insensitive
{
    border-width: 0;
    border-radius: 10;
    border-color: #888888;
    background-image: -gtk-gradient (radial,
        center center, 0, center center, 1,
        from (#888888), to (#787878));
}

GtkHScale#RCTimeScalerBar.slider:prelight
{
    border-width: 0;
    border-radius: 10;
    border-color: #E3E3E3;
    background-image: -gtk-gradient (radial,
        center center, 0, center center, 1,
        from (#E3E3E3), to (#D3D3D3));
}

GtkHScale#RCTimeScalerBar.slider:active
{
    border-width: 0;
    border-radius: 10;
    border-color: #9E9E9E;
    background-image: -gtk-gradient (radial,
        center center, 0, center center, 1,
        from (#9E9E9E), to (#8E8E8E));
}

GtkVScale#RCEQScaler.slider
{
    border-width: 1;
    border-radius: 3;
    background-image: -gtk-gradient (linear,
        left top, left bottom,
        from (#FFFFFF), to (#EEEEEC));

    -adwaita-border-gradient: -gtk-gradient (linear,
        left top, left bottom,
        from (shade (#888A85, 0.90)),
        to (shade (#888A85, 1.35)));
}

GtkHScale#RCTimeScalerBar.trough
{
    border-width: 1;
    border-radius: 2;
    border-style: solid;
    border-color: #33A8E5;
    background-image: -gtk-gradient (linear,
        left top, right top,
        from (#33A8E5), to (#8BD1F5));
}

GtkVScale#RCEQScaler.trough
{
    border-width: 1;
    border-radius: 2;
    border-style: solid;
    border-color: #888A85;
}

GtkHScale#RCTimeScalerBar.scale-has-marks-below.slider.horizontal
{
    -adwaita-border-gradient: -gtk-gradient (linear,
        left top, left bottom,
        from (shade (#888A85, 0.90)),
        to (shade (#888A85, 1.35)));
}

GtkHScale#RCTimeScalerBar.scale-has-marks-above.slider.horizontal
{
    -adwaita-border-gradient: -gtk-gradient (linear,
        left bottom, left top,
        from (shade (#888A85, 0.90)),
        to (shade (#888A85, 1.35)));
}

GtkVScale#RCEQScaler.scale-has-marks-below.slider.vertical
{
    -adwaita-border-gradient: -gtk-gradient (linear,
        left top, right top,
        from (shade (#888A85, 0.90)),
        to (shade (#888A85, 1.35)));
}



GtkVScale#RCEQScaler.scale-has-marks-above.slider.vertical
{
    -adwaita-border-gradient: -gtk-gradient (linear,
        right top, left top,
        from (shade (#888A85, 0.90)),
        to (shade (#888A85, 1.35)));
}

GtkScrolledWindow#RCListScrolledWindow GtkVScrollbar
{
    background-color: #707070;
}

GtkScrolledWindow#RCListScrolledWindow .scrollbar
{
    -GtkRange-slider-width: 12;
    -GtkRange-stepper-size: 12;
    -GtkRange-trough-border: 2;
    -GtkScrollbar-min-slider-length: 30;
}

GtkScrolledWindow#RCListScrolledWindow .scrollbar.trough
{
    border-width: 0;
    border-radius: 0;
    background-color: #282828;
}

GtkScrolledWindow#RCListScrolledWindow .scrollbar.slider,
GtkScrolledWindow#RCListScrolledWindow .scrollbar.slider:insensitive
{
    border-radius: 6;
    border-width: 0;
    background-color: #C0C0C0;
    background-image: -gtk-gradient (linear,
        left top, left bottom,
        color-stop(0, #C0C0C0),
        color-stop(0.5, #A0A0A0),
        color-stop(1, #C0C0C0));
}

GtkScrolledWindow#RCListScrolledWindow .scrollbar.slider:prelight,
GtkScrolledWindow#RCListScrolledWindow .scrollbar.slider:active
{
    border-radius: 6;
    border-width: 0;
    background-color: #E0E0E0;
    background-image: -gtk-gradient (linear,
        left top, left bottom,
        color-stop(0, #E0E0E0),
        color-stop(0.5, #C0C0C0),
        color-stop(1, #E0E0E0));
}

GtkScrolledWindow#RCListScrolledWindow .scrollbar.button
{
    border-width: 0;
    background-color: #282828;
    color: #C0C0C0;
}

GtkScrolledWindow#RCListScrolledWindow .scrollbar.button:insensitive
{
    border-width: 0;
    background-color: #282828;
    color: #707070;
}

GtkScrolledWindow#RCListScrolledWindow .scrollbar.button:prelight,
GtkScrolledWindow#RCListScrolledWindow .scrollbar.button:active
{
    border-width: 0;
    background-color: #282828;
    color: #F0F0F0;
}

GtkScrolledWindow#RCListScrolledWindow  GtkHScrollbar
{
    background-color: #707070;
}

GtkWindow#RCMainWindow GtkPaned.pane-separator,
GtkWindow#RCMainWindow GtkPaned.pane-separator:insensitive
{
    border-width: 0;
    background-color: #484848;
    color: #F0F0F0;
}

GtkWindow#RCMainWindow GtkPaned.pane-separator:prelight,
GtkWindow#RCMainWindow GtkPaned.pane-separator:active
{
    border-width: 0;
    background-color: #585858;
    color: #F0F0F0;
}

